<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="example, JavaScript Form Validation, Sample registration form" />
      <meta name="description" content="This document is an example of JavaScript Form Validation using a sample registration form. " />
      <title>Library Page Books</title>
      <link rel="stylesheet" href="/public/css/1 LIBlogged.css">
    </head>
<body background="/public/images/ANIB1.gif" onload="document.registration.username.focus();">
 <header>       
    

 </header> 
      <div class="head1">
        <a class="active" href="/src/views/1 LIBlogged.html" >MAIN PAGE</button></a>
        <a class="active" href="/src/views/1 LIBbooks.html" >BOOKS</button></a>
        <a class="active" href="/src/views/index.html">LOG OUT</button></a>
      </div>

      <div class="head2">
        <p class="head">Library</p>
      </div>
 
      
      <div class="head4"> 
        <img src="/public/images/book1.jpg"> 
        <img src="/public/images/pyramid.jpg"> 
        <img src="/public/images/book2.jpg">
        <img src="/public/images/pyra.jpg">
         
      </div> 
      <div class="head4"> 
      <video width="400" controls>
        <source src="/public/images/VIDEO CL1.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
            
    </div> 
    <div class="head4"> 
      <video width="400" controls>
        <source src="/public/images/VIDEO CL2.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
            
    </div> 

      
        <script src="/public/js/1 LIBlogged.js"></script>
</body>
</html>