<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Library Web Page Index</title>
      <link rel="stylesheet" href="/css/1 LIB.css">
    </head>
<body>
 <header>       
    

 </header> 
      <div class="head1">
        <%for(i=0;i<nav.length;i++){%>
          <!-- <li> -->
            <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          <!-- </li> -->
          <%}%>
        <!-- <a class="active" href="#" >HOME</button></a>
        <a class="active" href="/1 LIBsignup" >SIGN UP</button></a>
        <a class="active" href="/src/views/1 LIBlogin.html">LOG IN</button></a> -->
      </div>

      <div class="head2">
        <p class="head"><%=title%></p>
      </div>
 
      <div class="head3"> 
        <!-- <h3>Tourism in Kerala</h3> -->
      </div>
      <div class="head4"> 

          <div class="row">
                <div class="column1" style="background-color:white;">
                  <img src="/images/apj.jpg" alt="Avatar" class="avatar">   
                </div>
                <div class="column2" style="background-color:white;" >
                  <p><h4>Repurpose Content to Reach Wider Audience</h4>
                    <button>87 th floor.com</button>
                    <h6>2 hours ago Read More</h6>
                  </p>
                </div>
          </div>

          <div class="row">
            <div class="column1" style="background-color:white;">
              <img src="/images/lady.jpg" alt="Avatar" class="avatar">   
            </div>
            <div class="column2" style="background-color:white;">
              <p><h4>14 Useful Sites for Designers</h4>
                <button>davgaraga.com</button>
                <h6>Yesterday Read More</h6>
              </p>
            </div>
          </div> 

          <div class="row">
            <div class="column1" style="background-color:white;">
              <img src="/images/ronald dahl.jpg" alt="Avatar" class="avatar">   
            </div>
            <div class="column2" style="background-color:white;">
              <p><h4>Measuring your Link Buildingwith Google analytics</h4>
                <button>geromino.com</button>
                <h6>Yesterday Read More</h6>
            </div>
          </div> 
          <button style="background-color:rgb(12, 145, 197); color:white;margin-left: 1150px;margin-bottom: 10px;";><a href="#">More</button></a>   
      </div>
      <!-- <div class="head5"> 
        <img src="image/ANIBACKGROUND.gif" alt="Avatar" class="avatar">  
        <div class="head5-1">
          <h3>A reader lives a thousand lives before he dies</h3>
          <h3>Never trust anyone who has not brought a book with them</h3>
          <h3>People say that life is the thing, but I prefer reading.</h3>
        </div>
      </div> -->

        <div class="head5"> 
          <div>
            <p><h2>Follow Us</h2></p>
           </div>
   
           <div>
           
             <button style="background-color:blue; color:white";><a href="#"> Twitter</button></a>
             <button style="background-color:darkblue ; color:white";><a href="#">Facebook</button></a>
             <button style="background-color:red; color:white";><a href="#">Google+</button></a>
           </div>
         
          </div>

        
</body>
</html>